<style>
    body {
        margin: 0;
        overflow-x: hidden;
    }

    .egret-dev-navbar {
        overflow: visible;
        height: 51px;
        line-height: 51px;
        padding: 0px 8px;
        z-index: 2;
        font-size: 0.85em;
        color: #7e888b;
        background: #f5f5f5;
        display: flex;
        max-height: 340px;
        position: relative;
        top: 0;
        left: 0px;
    }

    .egret-dev-navbar a,
    .egret-dev-navbar a:hover {
        color: inherit;
        text-decoration: none;
        width: 100%;
        padding: 0 20px;
    }

    .egret-dev-navbar a:hover {
        color: rgba(0, 0, 0, 0.8);
    }

    .egret-dev-navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        background: #f5f5f5;
    }

    .egret-dev-navbar ul li {
        margin-right: 1px;
        position: relative;
        float: left;
        margin: 0 20px;
        /* padding: 0 20px; */
        min-width: 60px;
        text-align: center;
        /* width: 20%; */
        /*padding:0 20px;*/
    }

    .egret-dev-navbar ul li a {
        padding: 0;
    }

    .egret-dev-navbar ul li a:hover {
        color: rgba(0, 0, 0, 0.8);
        padding: 0;
    }

    .egret-dev-navbar .btn {
        display: inline-block;
        height: 40px;
        padding: 0px 15px;
        border-bottom: none;
        color: #aaa;
        text-transform: none;
        line-height: 40px;
        position: relative;
        font-size: 14px;
    }

    .egret-dev-navbar ul li img {
        margin-top: 3px;
    }
    .egret-dev-navbar  ul li ul li{
        min-width: 80px;
    }
</style>
<div class="egret-dev-navbar " id="egret-navbar">
    <ul class=" ">
        <li>
            <a target="_blank" href="http://egretia.io">Egretia</a>
        </li>
        <li onmouseover="overFun(this)" onmouseout="outFun(this)">
            <a target="_blank" href="">Egretia SDK</a>
            <ul class="" style="display: none;">
                <li>
                    <a target="_blank" href="https://github.com/ethereum/wiki/wiki/JavaScript-API#getting-started">Web3.js Docs</a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/ethereum/wiki/wiki/JavaScript-API#web3js-api-reference">API Docs</a>
                </li>
            </ul>
        </li>
        <li>
            <a target="_blank" href="https://solidity.readthedocs.io/en/latest/">Solidity Docs</a>
        </li>
        <li>
            <a href="../zh">中文</a>
        </li>
    </ul>
</div>

<script> 
    function overFun(e) {
        e.children[1].style.display = 'block';
    }
    function outFun(e) {
        e.children[1].style.display = 'none';
    }
</script>