body {
  margin: 0 ; 
  overflow-x: hidden;
} 
.book-body{
  margin-top: 51px;
}
.egret-dev-navbar {
  overflow: visible;
  height: 51px;
  line-height: 51px;
  padding: 0px 8px;
  z-index: 2;
  font-size: 0.85em;
  color: #7e888b;
  background: #f5f5f5;
  display: flex;
  max-height: 340px;
  position: relative;
  top: 0;
  left: 300px; 
}

.egret-dev-navbar a,
.egret-dev-navbar a:hover {
  color: inherit;
  text-decoration: none;
  width: 100%;
  padding: 0 20px;
}

.egret-dev-navbar a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.egret-dev-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background: #f5f5f5;
}

.egret-dev-navbar ul li {
margin-right: 1px;
position: relative;
float: left;
margin: 0 20px;
/* padding: 0 20px; */
min-width: 60px;
text-align: center;
/* width: 20%; */
  /*padding:0 20px;*/
}
.egret-dev-navbar ul li a{
padding: 0;
}
.egret-dev-navbar ul li a:hover{
  color: rgba(0, 0, 0, 0.8); 
padding: 0;
}

.egret-dev-navbar .btn {
  display: inline-block;
  height: 40px;
  padding: 0px 15px;
  border-bottom: none;
  color: #aaa;
  text-transform: none;
  line-height: 40px;
  position: relative;
  font-size: 14px;
}

.egret-dev-navbar ul li img {
  margin-top: 3px;
}